body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}
header{
    background:#fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 40px;
}

nav ul li {
    display: inline;
    text-align:center ;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: #fffaaf;
}

.text_image {
    width: 50%;
}

.text_image h1 {
    font-size: 2em;
}

.text_image  {
    color: green;
    font-weight: bold;
}

.text_image form {
    margin-top: 10px;
}

.text_image input {
    padding: 10px;
    width: 60%;
}

.text_image button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.mission {
    text-align: center;
    padding: 40px;
}

.initiative {
    padding: 40px;
    text-align: center;
}

.initiative table {
    width: 100%;
    border: 20px solid black;
    padding: 40px;
    text-align: center;
}

.initiative th, .initiative td {
    border: 2px solid #ddd;
    padding: 10px;
}

.projects {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.card{
    background:lightblue;
    padding: 20px;
    border-radius:10px;
    text-align: center;
    width:20px;
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}